* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
background-color: rgb(157, 219, 170);
color: black;
}

.nav-links a {
color: black;
position: relative;
}

/* LOGO */
.logo {
font-size: 32px;
}
.logo-img {
width: 50px; 
height: auto; 
}
.menu {
display: flex;
gap: 1em;
font-size: 18px;
}

.menu li {
position: relative;
padding: 5px 14px;
}

.menu li:before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 2px;
background-color: #4c9e9e;
transition: width 0.3s ease;
}

.menu li:hover:before {
width: 100%;
}

.menu li:hover {
background-color: transparent;
}


/* about */

.mainFlex {
  position: relative;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flexContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: x-large;
}

.flexItem {
  max-width: 400px;
  flex: 1;
  padding: 20px;
  border: none;
  position: relative;
}

.flexItem p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Times New Roman', Times, serif;
}

#profile-img {
  width: 250px;
  height: auto;
}

#pink {
  color: rgb(224, 47, 76);
}

#arrow-container {
  position: relative;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  animation: bounce 1s infinite alternate;
  cursor: pointer;
  height: 50px;
}

#arrow-container #arrowImage {
  width:50px;
  height: 50px;
  background-image: url('images/whitearrow.png');
  background-size: cover;
  display: inline-block;
}

.arrow-content {
  padding-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(224, 47, 76);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}


/* Languages */
#Languages{
text-align: center;
padding: 100px;
}
.LanguagesFlex{
display: flex;
justify-content:space-around;
padding: 20px;

}
.Item img{
max-width: 20vh; 
height: auto; 
border: none;
}

/* Projects */
#Projects {
position: relative;
margin: 50px;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#project-mini-header,
#language-mini-header{
font-size: larger;
}

.project-header,
.language-header{
font-size: 2.5rem;
font-weight: 600;
margin-bottom: 1rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectsContainer {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.ProjectsFlex {
display: flex;
}

.projectItem {
flex: 0 0 auto;
margin: 0 10px;
max-width: 600px;
}

.projectItem img {
max-width: 100%;
height: auto;
display: block;
}

.arrow {
position: absolute;
top: 50%;
font-size: 40px;
color: rgb(157, 219, 170);
cursor: pointer;
transform: translateY(-50%);
}

#left-arrow {
left: 10px;
}

#right-arrow {
right: 10px;
}

/* Contacts */
#Contacts {
background-color: rgb(157, 219, 170);
padding: 50px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#footer-header{
color: #fff;
text-align: center;
}

#Contacts h4{
text-align: center;
color: #fff; 
padding-bottom: 20px;
}
.footer {
display: flex;
justify-content: space-around;
color: #fff; 
font-size: 16px;
}

.footer-item {
margin-bottom: 15px;
}
/*  */

.footer a {
color: #fff;
text-decoration: none;

transition: color 0.3s ease;
}

.footer a:hover {
color: rgb(224, 47, 76);
}
